body {
    font-family: 'Work Sans', sans-serif;
}

/* header related styles */
.header-container {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
    /* width: 1660px; */

}

.header-items {
    text-align: right;
    /* width: 50%; */
    margin-right: 230px;
}

.header-title {
    color: var(--Dark-01, #151414);
    /* text-align: right; */

    font-size: 65px;

    line-height: normal;
    padding-top: 220px;
    margin-bottom: 0;
}

.header-description {

    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    margin-left: 880px;
    margin-top: 25px;
    margin-bottom: 0;
    /* 162.5% */
}

.contract-btn {
    border-radius: 5px;
    background: #F15B22;
    border: none;
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 170px;
}

/* main section styles */

main {
    margin: 140px 230px;
}

.failure-container {
    display: flex;
    align-items: center;
    gap: 200px;
}

.failure-title {
    color: var(--Dark-01, #151414);

    font-size: 40px;

    font-weight: 700;
    margin-bottom: 0;

}

.failure-description {
    color: var(--Dark-02, #444343);

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 400px;
    margin-top: 24px;
    margin-bottom: 0;
    /* 162.5% */
}

ul li {
    list-style: none;
    margin-top: 16px;
}

.fa fa-check {
    color: #16D887;
}

/* -------------------------- */
.plan-container {
    background: #FFF;
    margin-top: 140px;

}

.my-plan {
    text-align: center;
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
}

.plans {
    display: flex;
    /* gap: 100px; */
    justify-content: space-around;

}

.plan-items {
    text-align: center;
    margin-top: 55px;

}

.plan-title {
    color: var(--Dark-01, #151414);


    font-size: 30px;

    font-weight: 700;
    margin-bottom: 0;

}

.plan-description {
    color: var(--Dark-03, #737272);

    font-size: 25px;

    font-weight: 500;
    margin-top: 15px;

}

/* --------------------- */
.mindset-container {
    /* background-image: url('../images/watch.png'); */

    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 140px;
    border-radius: 8px;
    height: 400px;

}

.mindset-items {
    padding-top: 60px;
    padding-left: 65px;
}

.mindset-title {
    color: #FFF;

    font-size: 40px;

    font-weight: 700;
    margin-bottom: 0;

}

#call-now {
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
}

/* ---------------------- */
footer {
    background: var(--Dark-01, #151414);
}

.footer {
    /* display: flex; */
}

.footer-info {
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.footer-description {
    width: 500px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}
.email{
    color: #FFF;
    font-size: 16px;
}
.phone-no{
    color: #FFF;
    font-size: 16px;
    margin-bottom: 0;
}

.social-icon li {
    display: inline;
    margin-top: 30px;
    /* padding-left: 0; */
}

.subscribe-title {
    color: #FFF;

    font-size: 25px;

    font-weight: 600;

}

input {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: #151414;
}

.subscribe-btn {
    border-radius: 8px;
    background: #FFF;
    padding: 20px 35px;
    border-radius: 8px;
    color: #F15B22;
    margin-top: 15px;
}